@model List<Butler.Models.DailyMenu>
@{
    ViewData["Title"] = "Home Page";
}

<a asp-action="NewCurrentMenu" asp-controller="home" class="btn btn-primary">New weekly menu</a>
<h1 class="row text-center monsterTitle">My current week.</h1>
<div class="row seven-cols">
    @foreach (var menu in Model)
    {
        <div class="col-md-1">
            <h2>@menu.Day</h2>
            <h4 class="lunch"><a href="@Url.Action("Edit", "Dish")/@menu.Menu.Lunch.Id">@menu.Menu.Lunch.Name</a></h4>
            <div class="row dishIcons"><a asp-action="NewDish" asp-controller="home" asp-route-id="@menu.Menu.Lunch.Id"><span class="glyphicon glyphicon-refresh"></span></a></div>
            <h4 class="dinner"><a href="@Url.Action("Edit", "Dish")/@menu.Menu.Dinner.Id">@menu.Menu.Dinner.Name</a></h4>
        </div>
    }
</div>
